// Imports Gerais
@import "./general/normalize";
@import "./general/global";

// functions de responsividade e grid
@import "./structure/functions";
@import "./structure/mixins";
@import "./structure/variables";

@import "./site/page";

.mobile-only {
	display: none;
	@include media(s) {
		display: block;
	}
}

.desktop-only {
	@include media(s) {
		display: none;
	}
}
