$bg-amarelo: #ffb800;
$border: #ffe500;

// escala neutro
$neutro-900: #1d1d1d;
$neutro-800: #3d3d3d;
$neutro-700: #5c5c5c;
$neutro-600: #6f6f6f;
$neutro-500: #989898;
$neutro-400: #a6a6a6;
$neutro-300: #b7b7b7;
$neutro-200: #dbdbdb;
$neutro-100: #eaeaea;
$neutro-50: #ffffff;
